@use "../layout/header";
@use "../layout/background";
@use "../layout/footer";

body {
  margin: 0;

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100vw;
    height: 100vh;

    .title-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      .title {
        margin: 0;
        padding: 0 20px;
        text-align: center;
        font-size: 50px;
        font-family: "Exo", sans-serif;
        color: #fff;
      }
    }

    .aboutme-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: max-content;

      .aboutme {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        width: 80%;
        height: max-content;

        .left-content {
          display: flex;
          flex-direction: column;
          gap: 30px;
          width: 30%;

          .profile-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 30px;
            border-radius: 20px;
            box-sizing: border-box;
            background-color: #ffffff10;
            // box-shadow: 0 0 20px hsla(0, 0%, 100%, 0.5);

            img {
              width: 250px;
              height: 250px;
              object-fit: cover;
              border-radius: 50%;
              //   box-shadow: 0 0 20px hsla(0, 0%, 100%, 0.5);
            }
            p {
              font-family: "Exo", sans-serif;
              font-size: 24px;
              color: #ffffff;
            }
          }
          .stack-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
            width: 100%;
            padding: 20px;
            border-radius: 20px;
            box-sizing: border-box;
            background-color: #ffffff10;
            // box-shadow: 0 0 20px hsla(0, 0%, 100%, 0.5);

            img {
              width: 40px;
              height: 40px;
            }
          }
        }

        .right-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 70%;
          height: stretch;
          border-radius: 20px;
          box-sizing: border-box;
          background-color: #ffffff10;
          //   box-shadow: 0 0 20px hsla(0, 0%, 100%, 0.5);

          .text {
            > p {
              margin: 0;
              padding: 20px;
              padding-top: 0;
              text-align: justify;
              font-size: 18px;
              font-family: "Exo", sans-serif;
              color: #fff;

              &:last-child {
                padding-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  body {
    main {
    }
  }
}
