@use "../layout/header";
@use "../layout/background";
@use "../layout/footer";

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 120px 0;
  overflow-x: hidden;

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .title-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      .title {
        margin: 0;
        padding: 0 20px;
        text-align: center;
        font-size: clamp(32px, 4vw, 50px);
        font-family: "Exo", sans-serif;
        color: #fff;
      }
    }

    .aboutme-container {
      display: flex;
      justify-content: center;
      align-items: center;

      .aboutme {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        width: 80%;
        height: 558px;

        .left-content {
          display: flex;
          flex-direction: column;
          gap: 30px;
          width: 30%;
          height: 100%;

          .profile-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            width: 100%;
            padding: 20px;
            border-radius: 20px;
            box-sizing: border-box;
            background-color: #ffffff10;

            img {
              width: clamp(150px, 12vw, 250px);
              aspect-ratio: 1;
              height: auto;
              object-fit: cover;
              border-radius: 50%;
              box-shadow: 0 0 20px hsla(0, 0%, 100%, 0.5);
            }
            p {
              margin: 0;
              font-family: "Exo", sans-serif;
              font-size: clamp(20px, 1.5vw, 24px);
              text-align: center;
              color: #ffffff;
            }
          }
          .stack-container {
            display: flex;
            flex-direction: column;
            gap: 32px;
            width: 100%;
            padding: 25px;
            border-radius: 20px;
            box-sizing: border-box;
            background-color: #ffffff10;

            .title {
              p {
                margin: 0;
                font-family: "Exo", sans-serif;
                font-size: clamp(20px, 1.5vw, 24px);
                color: #ffffff;
              }
            }

            .stacks {
              display: grid;
              grid-template-columns: repeat(4, 1fr);
              row-gap: 20px;

              img {
                width: clamp(20px, 2.5vw, 40px);
                height: auto;
                aspect-ratio: 1;
                justify-self: center;
                align-self: center;
              }
            }
          }
        }

        .right-content {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          width: 70%;
          height: 100%;
          padding: 35px 20px;
          border-radius: 20px;
          box-sizing: border-box;
          background-color: #ffffff10;

          .text {
            box-sizing: border-box;
            overflow: auto;

            &::-webkit-scrollbar {
              width: 6px;
            }

            &::-webkit-scrollbar-track {
              background: transparent;
            }

            &::-webkit-scrollbar-thumb {
              background: #ffffff40;
              border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb:hover {
              background: #777;
            }

            > p {
              margin: 0;
              padding: 20px;
              padding-top: 0;
              text-align: justify;
              font-size: clamp(16px, 1.2vw, 18px);
              font-family: "Exo", sans-serif;
              color: #fff;

              &:last-child {
                padding-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    main {
      .aboutme-container {
        .aboutme {
          flex-direction: column;
          height: max-content;

          .left-content {
            width: 100%;

            .stack-container {
              .title {
                p {
                  text-align: center;
                }
              }

              .stacks {
                img {
                  width: 30px;
                }
              }
            }
          }

          .right-content {
            width: 100%;
            padding: 20px;

            .text {
              > p {
                padding: 20px 0;
                padding-top: 0;
              }
            }
          }
        }
      }
    }
  }
}
