@use "../layout/header";
@use "../layout/background";
@use "../layout/footer";

body {
  margin: 0;

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 100%;
    margin-top: 100px;
    margin-bottom: 100px;

    .title-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      .title {
        margin: 0;
        padding: 0 20px;
        text-align: center;
        font-size: 50px;
        font-family: "Exo", sans-serif;
        color: #fff;
      }
    }

    .projects-container {
      width: 80%;
      height: fit-content;

      .projects {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        width: 100%;
        height: fit-content;

        .card {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 25px;
          width: 25%;
          height: max-content;
          padding: 25px;
          border-radius: 30px;
          text-decoration: none;
          background-color: hsl(0deg 0% 100% / 15%);
          transition: all 0.5s ease;

          .card-img {
            width: 100%;
            height: auto;

            img {
              width: 100%;
              height: auto;
              object-fit: cover;
              border-radius: 30px;
            }
          }

          .card-title {
            .title {
              margin: 0;
              font-family: "Exo", sans-serif;
              font-size: clamp(16px, 4vw, 22px);
              //   font-size: 22px;
              text-align: center;
              color: #ffffff;
            }
          }

          &:hover {
            cursor: pointer;
            transform: scale(1.1);
            transition: all 0.5s ease;
          }
        }
      }
    }
  }
}

// @media screen and (max-width: 1400px) {
//   body {
//     main {
//       .projects-container {
//         .projects {
//           .card {
//             width: 35%;
//           }
//         }
//       }
//     }
//   }
// }

// @media screen and (max-width: 992px) {
//   body {
//     main {
//       .projects-container {
//         .projects {
//           .card {
//             width: 100%;
//           }
//         }
//       }
//     }
//   }
// }

@media screen and (max-width: 768px) {
  body {
    main {
      .projects-container {
        .projects {
          .card {
            width: 100%;
          }
        }
      }
      .title-container {
        .title {
          font-size: 36px;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  body {
    main {
      .title-container {
        .title {
          font-size: 28px;
        }
      }
    }
  }
}
