@use "../layout/header";
@use "../layout/background";
@use "../layout/footer";

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 120px 0;
  overflow-x: hidden;

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .title-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      .title {
        margin: 0;
        padding: 0 20px;
        text-align: center;
        font-size: clamp(32px, 4vw, 50px);
        font-family: "Exo", sans-serif;
        color: #fff;
      }
    }

    .projects-container {
      width: 80%;
      height: fit-content;

      .projects {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        width: 100%;
        height: fit-content;

        .card {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 25px;
          width: 25%;
          height: max-content;
          padding: 25px;
          border-radius: 30px;
          text-decoration: none;
          background-color: hsl(0deg 0% 100% / 15%);
          transition: all 0.5s ease;

          .card-img {
            width: 100%;
            height: auto;

            img {
              width: 100%;
              height: auto;
              object-fit: cover;
              border-radius: 30px;
            }
          }

          .card-title {
            .title {
              margin: 0;
              font-family: "Exo", sans-serif;
              font-size: clamp(16px, 4vw, 22px);
              text-align: center;
              color: #ffffff;
            }
          }

          &:hover {
            cursor: pointer;
            transform: scale(1.1);
            transition: all 0.5s ease;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    main {
      .projects-container {
        .projects {
          .card {
            width: 100%;
          }
        }
      }
    }
  }
}
